.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-align-right {
    text-align: right;
}

.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 2;
}

.flex-item-3 {
    flex: 3;
}
