body {
    background-color: #f6f4f0;
}

.error-txt {
    font-size: 15px;
    color: #E44E4E;
}

.light {
    color: #666666;
}

a {
    color: #159ECB;
    line-height: 16px;
    text-decoration: none;
}

a.large-link {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #149ECB;
    line-height: 19px;
    font-weight: 600;
}

select {
    border: 1px solid #AEAEAE;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 15px;
    color: #2B2B2B;
    height: 40px;
    padding-left: 10px;
    padding-right: 30px;
    background: #FFFFFF url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='13px' width='20px'><polyline stroke-width='1' fill='none' style='stroke: rgb(43, 43, 43);' points='0,6 6,12 12,6'/></svg>") no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option {
    font-size: 15px;
    color: #2B2B2B;
    height: 30px;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
}

.input-group label {
    display: block;
}

.labelValue {
    padding: 5px 0;
}

.nowrap {
    white-space: nowrap;
}

.header {
    margin-bottom: 20px;
}

.header-borderless {
    margin-bottom: 20px;
    padding-left: 30px;
}

.midHeader {
    margin-top: 10px;
    margin-bottom: 15px;
}

.oph-label-short {
    width: 50px;
}

.infoPageWrapper {
    padding: 40px;
    background-color: white;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    max-width: 700px;
    margin: 120px auto 0;
}

.infoPageWrapper > p {
    text-align: center;
    padding-bottom: 15px;
}
