fieldset {
    margin: .5em;
    padding: .5em;
}
form {
    padding: 1em;
}

fieldset {
    margin-bottom: 16px;
}

fieldset label {
    float: left;
    min-width: 150px;
}

fieldset input {
    margin: 0px;
    margin-top: 10px;
}

fieldset input, fieldset select {
    float: left;
    min-width: 250px;
    border: 1px #AEAEAE solid;
    box-shadow:inset 0 0 3px #AEAEAE;
    -moz-box-shadow:inset 0 0 3px #AEAEAE;
    -webkit-box-shadow:inset 0 0 3px #AEAEAE;
}

fieldset .fieldContainer {
    float: left;
    min-width: 250px;
}

.descriptionBelow {
    padding-top: 5px;
}

input {
    font-size: 14px;
}

.row label{
    font-weight: bold;
    padding-top: 20px;
}

label.required::after{
    content: '*';
}

.select-row{
    padding-top: 10px;
}

.select-row label{
    font-weight: bold;
    padding-top: 10px;
}

.mainContainer {
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    text-align: left;
}

.wrapper {
    padding: 40px;
    background-color: white;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    margin-bottom: 40px;
}

.header {
    font-size: 0.6em;
    font-weight: bold;
    margin-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.clear {
    clear: both;
}

.appFooter {
    clear: both;
    margin-top: 40px;
    border-top: 1px solid #AEAEAE;
    padding: 20px;
}

.appFooter .build {
    float:right;
    font-size: 0.65em;
    color: #AEAEAE;
}

.is-error {
    font-size: 15px;
    color: #E44E4E;
    letter-spacing: 0;
    line-height: 16px;
}

.error {
    padding: 10px;
    border: 2px solid #E44E4E;
    border-radius: 2px;
    clear:both;
    margin: 10px;
}

.success.topError {
    clear: both;
    position: relative;
    top: 80px;
    padding: 10px;
    background: #E6FFC1;
    border: 1px solid #99D740;
    border-radius: 2px;
    margin: 10px;
    margin-bottom: 50px;
    color: #2B2B2B;
}

.error.topError {
    clear: both;
    position: relative;
    top: 80px;
    background: #FFE9E9;
    border: 1px solid #E09191;
    border-radius: 2px;
    color: #2B2B2B;
    margin: 10px;
    margin-bottom: 50px;
}

.mainContent {
    margin-bottom: 50px;
}

.clear {
    clear:both;
    margin-bottom:10px;
}

body h2 {
    padding-bottom: 5px
}

body {
}

hr {
    background: #AEAEAE;
}

h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: #2A2A2A;
    line-height: 19px;
    font-weight: 600;
}

h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #2A2A2A;
    line-height: 19px;
    font-weight: 600;
}

h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #2A2A2A;
    line-height: 19px;
    font-weight: 600;
}
