body {
    background-color: #f6f4f0;
}

.error-txt {
    font-size: 15px;
    color: #E44E4E;
}

a {
    color: #159ECB;
    line-height: 16px;
    text-decoration: none;
}

.labelValue {
    padding: 5px 0;
}

.eidasTruncated {
    display: inline-block;
    max-width: 213px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

.header {
    margin-bottom: 20px;
}

.oph-label-short {
    width: 50px;
}

.row label{
    font-weight: bold;
    padding-top: 20px;
}

.mainContainer {
    position: relative;
    text-align: left;
}

.mainContent {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.wrapper {
    padding: 30px;
    background-color: white;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.clear {
    clear: both;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.clear {
    clear:both;
    margin-bottom:10px;
}

.pincode-input-container {
    display: flex;
    flex-wrap: nowrap;
}

.pincode-input-text:not(:last-of-type) {
    margin-right: 12px !important;
}

.henkiloViewUserContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-button-row {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}