:root {
    --blue: #0033CC;
    --gray-border: #dfdfdf;
}

.oph-ds-page-layout {
    all: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--OPH-Input-Text, #1D1D1D);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.oph-ds-page-layout hr {
    opacity: 0.7973;
    margin: 28px 0;
    border: 1px solid #C8C8C8;
    border-bottom-width: 0px;
}

.oph-ds-page-layout h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0px;
}

.oph-ds-page-layout h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.oph-ds-page-layout h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.oph-ds-page-layout button {
    font-family: "Open Sans";
}

.oph-ds-page-header-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    min-height: 65px;
    padding: 0 32px;
    width: calc(100% - 64px);
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid var(--gray-border);
    word-wrap: break-word;
}

.oph-ds-page-header {
    width: 100%;
    max-width: 1854px;
}

.oph-ds-page-content-container {
    background-color: white;
    width: 100%;
    max-width: 1854px;
    border-top: 1px solid var(--gray-border);
    border-bottom: 1px solid var(--gray-border);
    margin: 32px 0;
}

@media (width > 1200px) {
    .oph-ds-page-header-container {
        padding: 0;
        width: 100%;
    }

    .oph-ds-page-header {
        width: calc(100% - 64px);
    }

    .oph-ds-page-content-container {
        margin: 32px;
        width: calc(100% - 64px);
        border-left: 1px solid var(--gray-border);
        border-right: 1px solid var(--gray-border);
    }
}

.oph-ds-page-tabs {
    display: flex;
    border-bottom: 1px solid var(--gray-border);
}

.oph-ds-page-tabs > a {
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
    line-height: 24px;
    text-decoration: none;
}

.oph-ds-page-tabs > a.active {
    background: #0033CC;
    color: #FFFFFF;
    outline: none;
}

.oph-ds-page-tabs > a.inactive {
    color: #0033CC;
}

.oph-ds-page-tabs > a.inactive:focus {
    color: #000066;
    outline-offset: -2px;
    outline: 2px solid #000066;
}

.oph-ds-page-tabs > a.inactive:hover {
    color: #0033CC;
    outline-offset: -2px;
    outline: 2px solid #0033CC;
}

.oph-ds-page-tabs > button {
    background-color: #FFFFFF;
    font-size: 16px;
    color: #B2B2B2;
    line-height: 24px;
    border: 0;
    padding: 12px;
    box-sizing: border-box;
}

.oph-ds-page-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
}

.oph-ds-card {
    padding: 24px;
    border-radius: 4px;
    border-top: 5px solid var(--Link-Text-Default, #0033CC);
    box-shadow: 2px 2px 8px 0px #00000026;
}

.oph-ds-card-light {
    padding: 24px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0px #00000026;
}

.oph-ds-input {
    display: flex;
    height: 40px;
    width: 300px;
    padding: 12px;
    font-size: 16px;
    color: var(--OPH-Input-Text, #1D1D1D);
    line-height: 26px;
    border-radius: 2px;
    box-sizing: border-box;
    border: var(--OPH-Input-Stroke-width, 1px) solid var(--OPH-Input-Stroke, #454545);
    background: var(--Neutral-White, #FFF);
    align-items: center;
}

.oph-ds-input:focus {
    border: 2px solid var(--OPH-Input-Stroke, #0041DC);
    border-radius: 2px;
    outline-offset: 2px;
    outline: 2px solid #000;
}

.oph-ds-input:hover {
    border: 2px solid var(--OPH-Input-Stroke, #0041DC);
}

.oph-ds-input-error {
    color: #CC3300;
    border: 1px solid #CC3300;
}

.oph-ds-error {
    color: #CC3300;
}

.oph-ds-label {
    line-height: 24px;
    cursor: pointer;
    padding-right: 6px;
}

.oph-ds-label:has(+ input),
.oph-ds-label:has(+ .react-datepicker-wrapper),
.oph-ds-label:has(+ .oph-ds-select-container),
.oph-ds-label:has(+ .oph-ds-select-container-focused) {
    font-weight: 600;
}

.oph-ds-label:focus-within {
    outline-offset: 3px;
    outline: 2px solid #000;
    border-radius: 1px;
}

.oph-ds-disabled {
    color: var(--OPH-Input-Label, #B2B2B2);
}

.oph-ds-checkbox:active, .oph-ds-checkbox:focus, .oph-ds-radio:focus {
    outline: none;
    border: none;
}

.oph-ds-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.oph-ds-checkbox + span:before {
    content: '';
    border: 2px solid var(--OPH-Input-Stroke, #454545);
    border-radius: 2px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    vertical-align: -3px;
    box-sizing: border-box;
}

.oph-ds-checkbox:disabled + span:before,
.oph-ds-checkbox:hover:disabled + span:before {
    border: 2px solid var(--OPH-Input-Label, #B2B2B2);
}

.oph-ds-checkbox:checked + span:before {
    background-image: url('data:image/svg+xml;base64,CiAgICA8c3ZnIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgIDxwYXRoCiAgICAgICAgICAgIGQ9Ik0xOSAzSDVDMy45IDMgMyAzLjkgMyA1VjE5QzMgMjAuMSAzLjkgMjEgNSAyMUgxOUMyMC4xIDIxIDIxIDIwLjEgMjEgMTlWNUMyMSAzLjkgMjAuMSAzIDE5IDNaTTE5IDE5SDVWNUgxOVYxOVpNMTcuOTkgOUwxNi41OCA3LjU4TDkuOTkgMTQuMTdMNy40MSAxMS42TDUuOTkgMTMuMDFMOS45OSAxN0wxNy45OSA5WiIKICAgICAgICAgICAgZmlsbD0iIzAwMzNDQyIKICAgICAgICAvPgogICAgPC9zdmc+');
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--OPH-Input-Stroke, #0041DC);
}

.oph-ds-checkbox:hover + span:before {
    border: 2px solid var(--OPH-Input-Stroke, #0041DC);
}

.oph-ds-radio-wrapper {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 27px;
    margin: 0px;
    padding: 0px;
}

.oph-ds-radio-wrapper > legend {
    font-weight: 600;
}

.oph-ds-radio-wrapper > label > input {
    min-width: 0px;
}

.oph-ds-radio {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--OPH-Input-Stroke, #454545);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.oph-ds-radio-wrapper > legend {
    height: 24px;
}

.oph-ds-radio-wrapper > label {
    display: grid;
    grid-template-columns: 1em auto;
    align-items: center;
    gap: 0.5em;
    line-height: 24px;
    margin: 8px 0;
}

.oph-ds-radio-wrapper > label:focus-within {
    outline-offset: 2px;
    outline: 2px solid #000;
}

.oph-ds-radio::before {
    content: "";
    width: 0.55em;
    height: 0.55em;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 2em 2em var(--blue);
    box-sizing: border-box;
}
.oph-ds-radio:checked {
    border: 0.15em solid var(--OPH-Input-Stroke, #0041DC);
}

.oph-ds-radio:checked::before {
    border: 0.15em solid var(--OPH-Input-Stroke, #0041DC);
    transform: scale(1);
}

.oph-ds-link {
    color: var(--OPH-Link-Text, #03C);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.oph-ds-link-new-window {
    padding-right: 22px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjgzMzMgMTUuODMzM0g0LjE2NjY3VjQuMTY2NjdIMTBWMi41SDQuMTY2NjdDMy4yNDE2NyAyLjUgMi41IDMuMjUgMi41IDQuMTY2NjdWMTUuODMzM0MyLjUgMTYuNzUgMy4yNDE2NyAxNy41IDQuMTY2NjcgMTcuNUgxNS44MzMzQzE2Ljc1IDE3LjUgMTcuNSAxNi43NSAxNy41IDE1LjgzMzNWMTBIMTUuODMzM1YxNS44MzMzWk0xMS42NjY3IDIuNVY0LjE2NjY3SDE0LjY1ODNMNi40NjY2NyAxMi4zNTgzTDcuNjQxNjcgMTMuNTMzM0wxNS44MzMzIDUuMzQxNjdWOC4zMzMzM0gxNy41VjIuNUgxMS42NjY3WiIgZmlsbD0iIzAwMzNDQyIvPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: right;
}

.oph-ds-link:focus {
    outline: 2px solid #000;
    border-radius: 2px;
}

.oph-ds-link:focus, .oph-ds-link:hover, .oph-ds-link:active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.oph-ds-button {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--OPH-Button-Primary-variant-Text, #FFF);
    border-radius: 2px;
    background-color: var(--OPH-Button-Primary-variant-Background, #03C);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    outline: none;
    cursor: pointer;
    border: 0;
}

.oph-ds-button-narrow {
    padding: 0 16px;
}

.oph-ds-button-transparent {
    color: #0033CC;
    background-color: inherit;
}

.oph-ds-button-bordered {
    color: var(--OPH-Button-Primary-variant-Background, #03C);
    box-sizing: border-box;
    padding: 6px 14px;
    border-radius: 2px;
    border: var(--OPH-Button-Secondary-variant-Stroke-width, 2px) solid var(--OPH-Button-Secondary-variant-Stroke, #03C);
    background-color: var(--OPH-Button-Secondary-variant-Background, #FFF);
}

.oph-ds-button:hover {
    background-color: #0041DC;
}

.oph-ds-button:focus {
    background-color: #0041DC;
    outline-offset: 2px;
    outline: 2px solid #000;
}

.oph-ds-button:active {
    background-color: #006;
}

.oph-ds-button:disabled {
    background-color: #B2B2B2;
}

.oph-ds-button-transparent:hover {
    background-color: inherit;
    color: #0041DC;
}

.oph-ds-button-transparent:focus {
    background-color: inherit;
    color: #0041DC;
}

.oph-ds-button-transparent:active {
    background-color: inherit;
    color: #006;
}

.oph-ds-button-transparent:disabled {
    background-color: inherit;
    color: #B2B2B2;
}

.oph-ds-button-bordered:hover {
    background-color: #FFF;
    border: var(--OPH-Button-Secondary-variant-Stroke-width, 2px) solid #0041DC;
    color: #0041DC;
}

.oph-ds-button-bordered:focus {
    background-color: #FFF;
    border: var(--OPH-Button-Secondary-variant-Stroke-width, 2px) solid #0041DC;
    color: #0041DC;
    outline-offset: 2px;
    outline: 2px solid #000;
}

.oph-ds-button-bordered:active {
    background-color: #FFF;
    border: var(--OPH-Button-Secondary-variant-Stroke-width, 2px) solid #006;
    color: #006;
}

.oph-ds-button-bordered:disabled {
    background-color: #FFF;
    border: var(--OPH-Button-Secondary-variant-Stroke-width, 2px) solid #B2B2B2;
    color: #B2B2B2;
}

.oph-ds-button-icon {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 16px;
    background-position-y: center;
}

.oph-ds-button-icon-copy {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi43NTYgMS4wMTU3NUg0Ljc1NTk4QzMuNjU1OTggMS4wMTU3NSAyLjc1NTk4IDEuOTE1NzUgMi43NTU5OCAzLjAxNTc1VjE3LjAxNTdINC43NTU5OFYzLjAxNTc1SDE2Ljc1NlYxLjAxNTc1Wk0xNS43NTYgNS4wMTU3NUg4Ljc1NTk4QzcuNjU1OTggNS4wMTU3NSA2Ljc2NTk4IDUuOTE1NzUgNi43NjU5OCA3LjAxNTc1TDYuNzU1OTggMjEuMDE1N0M2Ljc1NTk4IDIyLjExNTcgNy42NDU5OCAyMy4wMTU3IDguNzQ1OTggMjMuMDE1N0gxOS43NTZDMjAuODU2IDIzLjAxNTcgMjEuNzU2IDIyLjExNTcgMjEuNzU2IDIxLjAxNTdWMTEuMDE1N0wxNS43NTYgNS4wMTU3NVpNOC43NTU5OCAyMS4wMTU3VjcuMDE1NzVIMTQuNzU2VjEyLjAxNTdIMTkuNzU2VjIxLjAxNTdIOC43NTU5OFoiIGZpbGw9IiNmZmZmZmYiLz4KPC9zdmc+Cg==');
}

.oph-ds-button-icon-plus {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDEzSDEzVjE5SDExVjEzSDVWMTFIMTFWNUgxM1YxMUgxOVYxM1oiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==');
}

.oph-ds-icon-button {
    padding: 12px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.oph-ds-icon-button-delete {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDlWMTlIOFY5SDE2Wk0xNC41IDNIOS41TDguNSA0SDVWNkgxOVY0SDE1LjVMMTQuNSAzWk0xOCA3SDZWMTlDNiAyMC4xIDYuOSAyMSA4IDIxSDE2QzE3LjEgMjEgMTggMjAuMSAxOCAxOVY3WiIgZmlsbD0iIzAwMzNDQyIvPgo8L3N2Zz4K');
}

.oph-ds-accordion-header {
    cursor: pointer;
    box-sizing: border-box;
    height: 56px;
    padding: 0px 2px;
}

.oph-ds-accordion-header-text {
    display: inline-block;
    margin-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.oph-ds-accordion-header:focus-within {
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #000;
    padding: 0px;
}

.oph-ds-accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 0.5rem;
}

.oph-ds-accordion-header-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    padding: 8px 16px;
    position: relative;
    text-align: left;
    cursor: pointer;
    border: 0;
}

.oph-ds-accordion-header-button[aria-expanded="true"] .oph-ds-accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.oph-ds-accordion-header:nth-child(4n + 1) {
    background-color: var(--Table-cell-Background-Even-row, #F6F6F6);
}

.oph-ds-accordion-header:hover {
    background-color: var(--Table-cell-Background-Hover-or-selected, #C1EAFF);
}

.oph-ds-select-container {
    box-sizing: border-box;
    min-width: 300px;
    cursor: pointer;
}

.oph-ds-select-container-focused {
    box-sizing: border-box;
    border-radius: 2px;
    outline-offset: 2px;
    outline: 2px solid #000;
    min-width: 300px;
    cursor: pointer;
}

.oph-ds-select-indicatorSeparator {
    display: none;
}

.oph-ds-select-control {
    border: 1px solid var(--OPH-Input-Stroke, #454545);
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 12px;
}

.oph-ds-select-control-focused {
    border: 2px solid var(--OPH-Input-Stroke, #0041DC);
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 11px;
}

.oph-ds-select-control-disabled {
    border: 1px solid var(--OPH-Input-Stroke, #B2B2B2);
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 12px;
}

.oph-ds-select-placeholder {
    color: #6D6D6D;
}

.oph-ds-select-placeholder-disabled {
    color: #B2B2B2;
}

.oph-ds-select-dropdownIndicator {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgOS41TDEyIDE0LjVMMTcgOS41SDdaIiBmaWxsPSIjNDU0NTQ1Ii8+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.oph-ds-select-dropdownIndicator-focused {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgOS41TDEyIDE0LjVMMTcgOS41SDdaIiBmaWxsPSIjMDA0MURDIi8+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.oph-ds-select-clearIndicator {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDEuNDFMMTIuNTkgMEw3IDUuNTlMMS40MSAwTDAgMS40MUw1LjU5IDdMMCAxMi41OUwxLjQxIDE0TDcgOC40MUwxMi41OSAxNEwxNCAxMi41OUw4LjQxIDdMMTQgMS40MVoiIGZpbGw9IiMxRDFEMUQiLz4KPC9zdmc+Cg==');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.oph-ds-select-dropdownIndicator > svg,
.oph-ds-select-dropdownIndicator-focused > svg,
.oph-ds-select-clearIndicator > svg {
    display: none;
}

.oph-ds-select-menu {
    margin-top: 8px;
    box-shadow: 0px 2px 4px 0px #000000;
    background-color: white;
}

.oph-ds-select-menu-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.oph-ds-multivalue-label {
    background-color: #F6F6F6;
    padding: 1px 6px;
}

.oph-ds-select-option {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 8px;
    line-height: 24px;
}

.oph-ds-select-nooptionsmessage {
    width: 100%;
    text-align: center;
}

.oph-ds-select-option:hover {
    background-color: #F6F6F6;
}

.oph-ds-select-org, .oph-ds-ryhma-select {
    width: 100%;
}

.oph-ds-select-org-option {
    display: flex;
    justify-content: space-between;
}

.oph-ds-select-org-parent {
    font-size: 13px;
    line-height: 19px;
    color: #666666;
}

.oph-ds-table-results {
    height: 40px;
}

.oph-ds-table {
    width: 100%;
}

.oph-ds-table thead {
    border-bottom: 1px solid var(--Table-cell-Stroke-Header-stroke-color, #DFDFDF);
}

.oph-ds-table th,
.oph-ds-table td {
    text-align: left;
    padding: 0px 10px;
    vertical-align: middle;
}

.oph-ds-table th {
    height: 40px;
    font-weight: 600;
}

.oph-ds-table td {
    height: 56px;
}

.oph-ds-table tbody tr:nth-child(even) {
    background: var(--Table-cell-Background-Even-row, #F6F6F6);
}

.oph-ds-table tbody tr:hover {
    background: var(--Table-cell-Background-Hover-or-selected, #C1EAFF);
}

.oph-ds-table-page-dots {
    color: #6D6D6D;
    font-weight: 600;
    padding: 8px 16px;
}

.oph-ds-toasts {
    position: fixed;
    top: 4px;
    right: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    z-index: 666;
}

.oph-ds-toast {
    position: relative;
    border-radius: 3px;
    color: #fff;
    width: calc(100vw - 8px);
    max-width: 633px;
    min-height: 84px;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oph-ds-toast-ok {
    background: #378703;
}

.oph-ds-toast-error {
    background: #CC3300;
}

.oph-ds-toast-header {
    display: flex;
    gap: 9px;
    padding: 24px 40px 0 17px;
    font-weight: 600;
    font-size: 16px;
}

.oph-ds-toast-header svg {
    flex-shrink: 0;
}

.oph-ds-toast-body {
    padding: 0 32px 24px 50px;
    font-size: 13px;
    line-height: 19px;
}

.oph-ds-toast-close-button {
    position: absolute;
    top: 8px;
    right: 10px;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    border: 0;
}

.oph-ds-banner {
    border-radius: 2px;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

.oph-ds-banner-content {
    display: flex;
    gap: 9px;
}

.oph-ds-banner-error {
    background: rgba(204, 51, 0, 0.1);
}
.oph-ds-banner-warning {
    background: rgba(255, 204, 51, 0.1);
}

.oph-ds-banner-info {
    background: rgba(0, 51, 204, 0.1);
}

.oph-ds-banner svg {
    flex-shrink: 0;
}

.oph-ds-ul {
    padding-left: 1rem;
}

.oph-ds-ul > li {
    list-style-type: disc;
}
