.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #FFFFFF;
    padding: 24px;
    border: 1px solid #DFDFDF;
    width: 80vw;
    margin-top: 32px;
}

.errorIcon {
    background-color: #CC3300;
    border: 16px solid #CC3300;
    border-radius: 100%;
    line-height: 12px;
}