.jarjestelmatunnus-edit-header {
    margin-bottom: 24px;
}

.jarjestelmatunnus-edit-info {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.jarjestelmatunnus-edit-info > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.jarjestelmatunnus-edit-info form {
    padding: 0;
}

.jarjestelmatunnus-edit-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.jarjestelmatunnus-edit-info-grid > div:nth-child(odd) {
    font-weight: bold;
}

.jarjestelmatunnus-edit-buttons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.jarjestelmatunnus-edit-oauth2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 24px 0;
}

.jarjestelmatunnus-edit-oauth2-grid > div:nth-child(-n+3) {
    font-weight: bold;
}