services:
  database:
    container_name: oph-oppijanumerorekisteri-db
    image: postgres:16.11@sha256:f992505e18f114c1e5102ac4dcf00f791b44462f6a423d899320f0bbf80e386f
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5434:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  test-database:
    container_name: oph-oppijanumerorekisteri-test-db
    image: postgres:16.11@sha256:f992505e18f114c1e5102ac4dcf00f791b44462f6a423d899320f0bbf80e386f
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5435:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-db:
    container_name: oph-tiedotuspalvelu-db
    image: postgres:16.11@sha256:f992505e18f114c1e5102ac4dcf00f791b44462f6a423d899320f0bbf80e386f
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5436:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-test-db:
    container_name: oph-tiedotuspalvelu-test-db
    image: postgres:16.11@sha256:f992505e18f114c1e5102ac4dcf00f791b44462f6a423d899320f0bbf80e386f
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5437:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:1.29.4-alpine@sha256:7d7a15b8a280c661051955f14c2b91fed3e23724ddba18d2f53e8b44e74ab37a
    ports:
      - 8080:8080
    volumes:
      - ./henkilo-ui/nginx/nginx.conf:/etc/nginx/nginx.conf
volumes:
  database-data:
