services:
  database:
    container_name: oph-oppijanumerorekisteri-db
    image: postgres:16.11@sha256:bc0cc808ed10eada884ae7a85fc29d0177b85c26956763e9faaf22ca858cacd9
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5434:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  test-database:
    container_name: oph-oppijanumerorekisteri-test-db
    image: postgres:16.11@sha256:bc0cc808ed10eada884ae7a85fc29d0177b85c26956763e9faaf22ca858cacd9
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5435:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-db:
    container_name: oph-tiedotuspalvelu-db
    image: postgres:16.11@sha256:bc0cc808ed10eada884ae7a85fc29d0177b85c26956763e9faaf22ca858cacd9
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5436:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-test-db:
    container_name: oph-tiedotuspalvelu-test-db
    image: postgres:16.11@sha256:bc0cc808ed10eada884ae7a85fc29d0177b85c26956763e9faaf22ca858cacd9
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5437:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:1.29.4-alpine@sha256:8491795299c8e739b7fcc6285d531d9812ce2666e07bd3dd8db00020ad132295
    ports:
      - 8080:8080
    volumes:
      - ./henkilo-ui/nginx/nginx.conf:/etc/nginx/nginx.conf
volumes:
  database-data:
