services:
  database:
    container_name: oph-oppijanumerorekisteri-db
    image: postgres:16.11@sha256:803ea6da631eab4a350da4ba87541e4737197b8c26ec0feb23ff6f9714212d1d
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5434:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  test-database:
    container_name: oph-oppijanumerorekisteri-test-db
    image: postgres:16.11@sha256:803ea6da631eab4a350da4ba87541e4737197b8c26ec0feb23ff6f9714212d1d
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5435:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-db:
    container_name: oph-tiedotuspalvelu-db
    image: postgres:16.11@sha256:803ea6da631eab4a350da4ba87541e4737197b8c26ec0feb23ff6f9714212d1d
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5436:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-test-db:
    container_name: oph-tiedotuspalvelu-test-db
    image: postgres:16.11@sha256:803ea6da631eab4a350da4ba87541e4737197b8c26ec0feb23ff6f9714212d1d
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5437:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:1.29.4-alpine@sha256:66d420cc54ef85bcc1d72220e83d7aaa6c4850bd2904794e3a56f09fd4ccb66e
    ports:
      - 8080:8080
    volumes:
      - ./henkilo-ui/nginx/nginx.conf:/etc/nginx/nginx.conf
volumes:
  database-data:
