services:
  database:
    container_name: oph-oppijanumerorekisteri-db
    image: postgres:16.11@sha256:6e9bbed548cc1ca776dd4685cfea9efe60d58df91186ec6bad7328fd03b388a5
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5434:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  test-database:
    container_name: oph-oppijanumerorekisteri-test-db
    image: postgres:16.11@sha256:6e9bbed548cc1ca776dd4685cfea9efe60d58df91186ec6bad7328fd03b388a5
    environment:
      - POSTGRES_USER=oph
      - POSTGRES_DB=oppijanumerorekisteri
      - POSTGRES_PASSWORD=oph
    ports:
      - 5435:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d oppijanumerorekisteri"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-db:
    container_name: oph-tiedotuspalvelu-db
    image: postgres:16.11@sha256:6e9bbed548cc1ca776dd4685cfea9efe60d58df91186ec6bad7328fd03b388a5
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5436:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  oph-tiedotuspalvelu-test-db:
    container_name: oph-tiedotuspalvelu-test-db
    image: postgres:16.11@sha256:6e9bbed548cc1ca776dd4685cfea9efe60d58df91186ec6bad7328fd03b388a5
    environment:
      - POSTGRES_USER=tiedotuspalvelu
      - POSTGRES_DB=tiedotuspalvelu
      - POSTGRES_PASSWORD=tiedotuspalvelu
    ports:
      - 5437:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oph -d tiedotuspalvelu"]
      interval: 10s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:1.29.4-alpine@sha256:4870c12cd2ca986de501a804b4f506ad3875a0b1874940ba0a2c7f763f1855b2
    ports:
      - 8080:8080
    volumes:
      - ./henkilo-ui/nginx/nginx.conf:/etc/nginx/nginx.conf
volumes:
  database-data:
