<configuration>
    <appender name="AccessLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <!--
                Following regexp should capture finnish social security numbers
                from HTTP request line and mask the suffix with asterisks.
                e.g. 123456-7890 should become 123456-****

                This file is just for testing the regexp. In case of any changes,
                make sure to make them also in "real" resources.
            -->
            <pattern>%replace(%r){'\b(\d{6}[-\\+ABCDEFYXWVU])\d{3}\w(\W)', '$1****$2'}</pattern>
        </encoder>
    </appender>

    <appender-ref ref="AccessLog"/>
</configuration>
