.haetut-kayttooikeusryhmat-form-item {
    margin: 0 5px;
}

.haetut-kayttooikeusryhmat-form-item fieldset label {
    /* ylikirjoitetaan index.css:n pari epäsopivaa defaulttia */
    float: none;
    min-width: 0;
}

.haetut-kayttooikeusryhmat-close-button {
    margin-left: 10px;
}

.large-kayttooikeus-filter {
    min-width: 400px;
    max-width: 800px;
}

.margin-top-5 {
    margin-top: 5px;
}

#kayttooikeusryhmaHenkiloHakuWrapper {
    min-width: 200px;
    max-width: 300px;
}

.anomus-organisaatiosuodatus {
    margin-right: 10px;
}