.henkilohakuTableWrapper .rt-thead.-header .-sort-desc,
.henkilohakuTableWrapper .rt-thead.-header .-sort-asc {
    background-color: #def2ff;
}

.henkilohakuTableWrapper .ReactTable .rt-thead.-header {
    background-color: #eee;
    border-bottom: 1px solid #d5d5d5;
}

.henkilohakuTableWrapper .ReactTable .rt-resizable-header.rt-th {
    border-right: 1px solid #d5d5d5 !important;
    line-height: 40px;
}

.henkilohakuTableWrapper .ReactTable .rt-resizable-header.rt-th:last-child {
    border-right: 0 !important;
}

.henkilohakuTableWrapper .ReactTable.table {
    border: 1px solid #d5d5d5;
}

.henkilohakuTableWrapper .ReactTable.table .rt-tbody .rt-td {
    border-right: 1px solid #d5d5d5 !important;
    padding: 20px;
}

.henkilohakuTableWrapper .ReactTable.table .rt-tbody .rt-td:last-child {
    border-right: 0 !important;
}

.henkilohakuTableWrapper .ReactTable.table .rt-tbody .rt-td li {
    padding-bottom: 10px;
}

.henkilohakuTableWrapper {
    margin-top: 20px;
}

.henkilohaku-main-header {
    margin-bottom: 20px;
}

.henkilohaku-result-header {
    margin-bottom: 20px;
    margin-top: 20px;
}

