.infoPageWrapper {
    padding: 40px;
    background-color: white;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    width: 700px;
    margin: 120px auto 0;
}

.infoPageWrapper > p {
    text-align: center;
    padding-bottom: 15px;
}
