.infoPageWrapper {
    padding: 30px;
    background-color: white;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    width: 650px;
    margin: 40px auto;
}

.infoPageWrapper > p {
    text-align: center;
    padding-bottom: 15px;
}