.virhePageVirheWrapper {
    padding: 30px;
    background-color: white;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    width: 300px;
    margin: 40px auto;
}

.virhePageVirheWrapperGray {
    padding: 30px;
    background-color: #f6f4f0;
    border: #d5d5d5 solid 1px;
    border-radius: 2px;
    width: 300px;
    margin: 40px auto;
}
#virhePageVirhe > p {
    margin-bottom: 10px;
}
