
#kutsutut-page h2 {
     font-weight: bold;
     font-size: 2em;
 }

.confirmation-modal table td, .confirmation-modal table th {
    padding: 10px;
    text-align: left;
}

.confirmation-modal {
    width: 50%;
    position: relative;
    margin: 2em auto;
    padding: 2em;
    background: #ffffff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header h2 {
    display: inline;
}

.header span {
    display: inline-block;
    vertical-align: bottom;
    float: right;
}
