
.confirmation-modal table td, .confirmation-modal table th {
    padding: 10px;
    text-align: left;
}

.confirmation-modal {
    width: 50%;
    position: relative;
    margin: 2em auto;
    padding: 2em;
    background: #ffffff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.kutsutut-toggle {
    flex-shrink: 0;
}

#kutsutut-page div.flex-item-1 {
    margin-right: 5px;
}

#kutsutut-page #radiator {
    margin-bottom: 2px;
}

.kutsutut-filters {
    gap: 1rem;
    margin-bottom: 10px;
}

.kutsutut-suodatus {
    gap: 10px;
}

.kutsutut-organisaatiosuodatus {
    margin-right: 10px;
}

.kutsutut-ryhmasuodatus {
    padding-right: 20px;
}

#kutsutut-ryhmafilter {
    width: 500px;
}