.PalvelukayttajaHakuTaulukko {
    margin-top: 20px;
    width: 100%;
}

.PalvelukayttajaHakuTaulukko th {
    background-color: #ccc;
    font-weight: bold;
}

.PalvelukayttajaHakuTaulukko tr:nth-child(odd) {
    background-color: #f6f4f0;
}

.PalvelukayttajaHakuTaulukko th,
.PalvelukayttajaHakuTaulukko td {
    border: 1px solid #ccc;
    padding: 20px;
}
