#floating-bar {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: white;
    border: #d5d5d5 solid 1px;
}

#floating-bar .floating-bar-content {
    padding-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
