.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap: 1rem;
    margin-bottom: 1rem;

    @media(max-width: 700px) {
        grid-template-columns: 1fr;
    }
}