.kayttoikeusryhmat-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 8px;
}

.kayttoikeusryhmat-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.kayttoikeusryhmat-form-cell {
    display: flex;
    align-items: flex-end;
}

.kayttoikeusryhmat-form-cell > div {
    display: flex;
    align-items: center;
    height: 40px;
}

.kayttooikeusryhmat-row-kayttooikeus > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.kayttooikeusryhmat-row-kayttooikeus .oph-ds-select-control {
    max-width: 300px;
}

.kayttooikeusryhmat-row-kayttooikeus .oph-ds-select-control-focused {
    max-width: 300px;
}