.kayttooikeusryhma-tiedot {
    margin-top: 15px;
    margin-bottom: 10px;
}

.kayttooikeusryhma-tiedot-palvelutroolit-header {
    margin-top: 10px;
    font-weight: bold;
}

.kayttooikeusryhma-tiedot-palvelutroolit {
    margin-bottom: 10px;
}