.kayttooikeuryhma-lista-item {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.kayttooikeuryhma-lista-item:nth-child(2n) {
    background-color: #eee;
}

.kayttooikeusryhma-tiedot-header span {
    font-weight: bold;
}

.kayttooikeusryhma-tiedot-header span:hover {
    cursor: pointer;
}

