.kayttoikeusryhmat-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 8px;
}

.kayttoikeusryhmat-form > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.kayttoikeusryhmat-form-cell {
    display: flex;
    align-items: flex-end;
}

.kayttoikeusryhmat-form-cell > div {
    display: flex;
    align-items: center;
    height: 48px;
}