.kayttooikeusryhma-tiedot {
    padding: 16px;
    border-bottom: 1px solid var(--Table-cell-Background-Even-row, #F6F6F6);
}

.kayttooikeusryhma-tiedot-palvelutroolit-header {
    margin-top: 10px;
    font-weight: bold;
}

.kayttooikeusryhma-tiedot-palvelutroolit {
    margin-bottom: 10px;
}