.kayttooikeus-input-container input {
    width: 125px;
    margin-right: 15px;
}

.kayttooikeus-input-container {
    display: inline-block;
}

.kayttooikeus-input-container > span {
    display: block;
}

.add-kayttooikeus-container td {
    padding-right: 30px;
    padding-top: 20px;
}

.kayttooikeus-form-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

.kayttooikeus-form-organisation-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.kayttooikeus-form-grid .organisaatioSelection {
    width: 700px;
}