.contact-content .henkiloViewEditButtons button {
    margin-right: 15px;
    float: right;
}

.contact-content .henkiloViewEditButtons {
    display: inline-block;
    width: 100%;
}

.contact-content .henkiloViewButtons {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}

.contact-content .henkiloViewButtons > div > button {
    margin-right: 15px;
    float: left;
}

.contact-content .henkiloViewEditButtons > div > button {
    float: none;
}

.contact-content .henkiloViewEditButtons > div > .edit-button-update-button {
    float: left;
}

.contact-content-add-new {
    border: 1px dashed #d5d5d5;
    width: 95%;
    height: 324px;
    cursor: pointer;
    padding: 5px 0;
    display: table;
}

.contact-content-add-new > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.float-right {
    float: right;
}
