.rekisteroidy-page .modal .rekisteroidy-modal {
    width: 50%;
    position: relative;
    margin: 2em auto;
    padding: 2em;
    background: #ffffff;
}

.rekisteroidy-modal p {
    text-align: center;
}

.privacy-policy p {
    margin-bottom: 1em;
}

.rekisteroidy-organisaatiot-wrapper .organisaatio-kayttooikeus-wrapper {
    margin: 10px 0;
}

.rekisteroidy-organisaatiot-wrapper ul {
    margin-top: 5px;
}
