.none > .fa-sort-asc {
    color: lightgray;
}

.none > .fa-sort-desc {
    color: lightgray;
}

.fa-stack > .fa-sort-desc,
.fa-stack > .fa-sort-asc {
    font-size: 0.7em;
    width: 0.7em
}

.fa-stack {
     width: 0 !important;
}