<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Standard dev logging -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.springframework" level="warn" />
    <logger name="org.springframework.security" level="warn" />
    <logger name="org.springframework.boot.autoconfigure.security.AuthenticationManagerConfiguration" level="warn" />
    <logger name="fi.vm" level="debug" />
    <logger name="org.hibernate.SQL" level="error" />

    <!-- Auditlog -->
    <logger name="fi.vm.sade.auditlog.Audit" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
