.Select-control {
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;

    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: inset 0 1px 4px #ccc;
    -webkit-transition-property: border, background;
    transition-property: border, background;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.Select-control:hover {
    box-shadow: inset 0 1px 4px #ccc;
    border-color: #999;
}
.Select-control .Select-input:focus {
    outline: none;
}

.Select-arrow-zone:before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    border-top: 8px solid #666;
    border-top: 0.5rem solid #666;
    border-right: 8px solid transparent;
    border-right: 0.5rem solid transparent;
    border-left: 8px solid transparent;
    border-left: 0.5rem solid transparent;
}
.Select-arrow-zone:after {
    content: "";
    position: absolute;
    top: 1rem;
    right: calc(0.5rem + 1px);
    border-top: calc(0.5rem - 1px) solid #fff;
    border-right: calc(0.5rem - 1px) solid transparent;
    border-left: calc(0.5rem - 1px) solid transparent;
}

.Select-arrow {
    border: initial;
    display: initial;
    height: initial;
    width: initial;
    position: initial;
}

.Select-menu-outer {
    cursor: pointer;
}

/* Override react-select/dist/react-select.css (198px) to allow custom maxHeight */
.Select-menu, .Select-menu-outer {
    max-height: none;
}