.kayttooikeusryhmat-palvelu-ja-kayttooikeudet {
    margin-top: 20px;

}

.kayttooikeusryhmat-palvelu-ja-kayttooikeudet h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.kayttooikeusryhmat-palvelu-ja-kayttooikeudet .kayttooikeudet-wrapper {
    margin-left: 10px;
}

.kayttooikeusryhmat-palvelu-ja-kayttooikeudet .test {
    float: right;
}