.kayttooikeusryhmat-lisaa-page-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.kayttooikeusryhmat-lisaa-page-buttons button {
    margin-right: 10px;
}

.passivoi-modal {
    margin-top: 20px;
}

.passivoi-modal button {
    margin-right: 10px;
}

.kayttooikeusryhma-header {
    margin-bottom: 20px;
}