#
# TÄHÄN TIEDOSTOON EI SAA TALLENTAA YMPÄRISTÖKOHTAISIA ARVOJA MUUTOIN KUIN MUUTTUJINA!!!
#
# Tämä tiedosto toimii pohjana oph-configuration/common.properties tiedostolle,
# joka asettaa tomcatin ympäristökohtaiset arvot.
#

# Aseta vähintään nämä ympäristökohtaiset arvot

spring:
  jpa:
    properties:
      hibernate.integration.envers.enabled: {{oppijanumerorekisteri_versiointi_kaytossa | default('true')}}
  datasource:
    url: jdbc:postgresql://{{postgresql_oppijanumerorekisteri_host}}:{{port_postgresql}}/{{postgresql_oppijanumerorekisteri_db | default('authentication')}}?ApplicationName=oppijanumerorekisteri-service
    username: {{postgres_app_user}}
    password: {{postgresql_oppijanumerorekisteri_app_password}}
    hikari:
      maximum-pool-size: {{postgresql_oppijanumerorekisteri_maximum_pool_size | default('20')}}
      connection-timeout: {{postgresql_oppijanumerorekisteri_connection_timeout | default('10000')}}
      max-lifetime: {{postgresql_oppijanumerorekisteri_max_lifetime | default('900000')}}
server:
  jetty:
    connection-idle-timeout: {{oppijanumerorekisteri_connection_idle_timeout | default('30000')}}
cas:
  service: https://{{host_virkailija}}/oppijanumerorekisteri-service
host:
  host-virkailija: {{host_virkailija}}
  host-cas: {{host_cas}}
authentication:
  kayttooikeus:
    username: {{oppijanumerorekisteri_kayttooikeus_username}}
    password: '{{oppijanumerorekisteri_kayttooikeus_password}}'
  hakuapp:
    username: {{authentication_app_username_to_haku}}
    password: {{authentication_app_password_to_haku}}
  ataru:
    username: {{oppijanumerorekisteri_ataru_username}}
    password: {{oppijanumerorekisteri_ataru_password}}
  viestintapalvelu:
    username: {{oppijanumerorekisteri_viestinta_username}}
    password: {{oppijanumerorekisteri_viestinta_password}}

oppijanumerorekisteri:
  uses-ssl-proxy: true
  disable-strict-permission-check: {{ oppijanumerorekisteri_disable_strict_permission_check | default('false') }}
  slack-url: {{oppijanumerorekisteri_slack_webhook_url | default('')}}
  scheduling:
    yksilointi:
      enabled: {{oppijanumerorekisteri_yksilointi_enabled | default('true')}}
  allow-fake-ssn: {{oppijanumerorekisteri_allow_fake_ssn | default('true')}}
  vtj-muutosrajapinta:
    base-url: {{oppijanumerorekisteri_vtjmuutosrajapinta_baseurl | default('')}}
    username: {{oppijanumerorekisteri_vtjmuutosrajapinta_username | default('')}}
    password: {{oppijanumerorekisteri_vtjmuutosrajapinta_password | default('')}}
    palveluvayla-env: {{oppijanumerorekisteri_palveluvayla_env | default('FI-TEST')}}
    apigw-role-arn: {{oppijanumerorekisteri_apigw_role_arn | default('')}}
  oauth2:
    clientId: {{oppijanumerorekisteri_oauth2_clientid | default('')}}
    clientSecret: {{oppijanumerorekisteri_oauth2_clientsecret | default('')}}
  vtjkysely:
    username: {{oppijanumerorekisteri_vtjkysely_username | default('')}}
    password: {{oppijanumerorekisteri_vtjkysely_password | default('')}}
    keystorePassword: {{oppijanumerorekisteri_vtjkysely_keystore_password | default('')}}
    truststorePassword: {{oppijanumerorekisteri_vtjkysely_truststore_password | default('')}}
aws:
  region: {{aws_region}}
  henkiloModifiedTopic:
    enabled: {{oppijanumerorekisteri_henkilo_modified_topic_enabled}}
    topicArn: '{{henkilo_modified_sns_topic_arn}}'
