.haka-input {
    margin-top: 15px;
}

.remove {
    cursor: pointer;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}
.remove:active {
    color: #0a789c;
}

h4.hakapopup {
    text-align: left;
}

.tag {
    padding: 5px 0 5px 5px;
    background-color: #f4f4f4;
    text-align: left;
}

.save {
    margin-top: 15px;
    float: left;
}