.password-invalid {
    border-color: #e09191 !important;
}

.password-controls > label {
    float: left;
}

.password-controls > input {
    margin-top: 0.2rem;
}

#password-popup-form > p {
    float: left;
    text-align: left;
}

#password-popup-form > button {
    float: left;
    margin-top: 1rem;
}

.oph-popup-password .oph-popup-content {
    margin-top: 0.2rem;
}

