.infoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #FFFFFF;
    padding: 48px;
    border: 1px solid #DFDFDF;
    width: 80vw;
    max-width: 1200px;
    margin-top: 32px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.errorIcon {
    background-color: #CC3300;
    border: 16px solid #CC3300;
    border-radius: 100%;
    line-height: 12px;
}

.successIcon {
    background-color: #378703;
    border: 16px solid #378703;
    border-radius: 100%;
    line-height: 12px;
}