target/
!.mvn/wrapper/maven-wrapper.jar

# dependencies
/**/node_modules

# testing
/coverage

# production
/**/build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# misc
.DS_Store
.env
npm-debug.log*


out/
src/main/static/etc/
src/main/static/node/

