.ReactTable {
    margin-bottom: 25px;
}

.ReactTable.table {
    border: 0;
}

.ReactTable.table .rt-resizable-header.rt-th {
    line-height: 40px;
}

.ReactTable.table .rt-thead.-header {
    box-shadow: none;
    border-bottom: 1px solid #d5d5d5;
}

.ReactTable.table .rt-tbody .rt-tr-group {
    border-bottom: 0;
}

.ReactTable.table .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: none;
}

.ReactTable.table .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: none;
}

.ReactTable.table .rt-thead .rt-tr {
    text-align: left;
}

.ReactTable.table .rt-tbody .rt-td {
    border: 0;
}

.ReactTable.table .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border: 0;
}

.ReactTable.table .rt-th, .ReactTable .rt-td {
    white-space: inherit !important;
}

/* Moves no data text little bit lower */
.ReactTable.table .rt-noData {
    top: 140%;
}

/* Fading out background highlight */
@-webkit-keyframes fadeIt {
    0%   { background-color: #e6ffc1; }
    100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
    0%   { background-color: #e6ffc1; }
    100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
    0%   { background-color: #e6ffc1; }
    100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
    0%   { background-color: #e6ffc1; }
    100% { background-color: #FFFFFF; }
}

.fadeOutBackgroundColor {
    background-image:none !important;
    -webkit-animation: fadeIt 5s ease-in-out;
    -moz-animation: fadeIt 5s ease-in-out;
    -o-animation: fadeIt 5s ease-in-out;
    animation: fadeIt 5s ease-in-out;
}
