
.organisaatioSelection {
    width: 500px;
}

.organisaatio-level-4 {
    padding-left: 20px;
}

.organisaatio-level-3 {
    padding-left: 15px;
}

.organisaatio-level-2 {
    padding-left: 10px;
}

.organisaatio-level-1 {
    padding-left: 5px;
}